DATABASE_URL="postgresql://postgres.fleomqtjdvdkhojqkvax:<password>@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
MAPBOX_TOKEN="pk.yourtoken"
NEXT_PUBLIC_MAPBOX_TOKEN="pk.yourtoken"
SESSION_PASSWORD="complex-long-secret-at-least-32-chars"
