# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://fleomqtjdvdkhojqkvax.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_oniQH7v49lsjml_DAXQEcw_0wQzqm41"

# Mapbox
MAPBOX_TOKEN="pk.eyJ1IjoiYW5kcm9taWEiLCJhIjoiY21mODE0c3l1MDI3czJpcXcxeW82NnA5OCJ9.d8EZjS0oIfHjnmX_aHJVSQ"
NEXT_PUBLIC_MAPBOX_TOKEN="pk.eyJ1IjoiYW5kcm9taWEiLCJhIjoiY21mODE0c3l1MDI3czJpcXcxeW82NnA5OCJ9.d8EZjS0oIfHjnmX_aHJVSQ"
